<a href="https://colab.research.google.com/github/DAVIDCUEAGUI/LABORATORIO/blob/main/Laboratorio_1_LuisCuellar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Importar librerías
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
from posixpath import sep
df_banco = pd.read_csv("/content/dataset_banco.csv",delimiter=',')
print(df_banco.head(10))

   age           job  marital  education default  balance housing loan  \
0   58    management  married   tertiary      no   2143.0     yes   no
1   44    technician   single  secondary      no     29.0     yes   no
2   33  entrepreneur  married  secondary      no      2.0     yes  yes
3   47   blue-collar  married    unknown      no   1506.0     yes   no
4   33       unknown   single    unknown      no      1.0      no   no
5   35    management  married   tertiary      no    231.0     yes   no
6   28    Management   single   tertiary      no    447.0     yes  yes
7   42  entrepreneur     div.   tertiary     yes      2.0     yes   no
8   58       retired  married    primary      no    121.0     yes   no
9   43    technician   single  secondary      no    593.0     yes   No

   contact  day month  duration  campaign  pdays  previous poutcome   y
0  unknown    5   may     261.0         1   -1.0         0  unknown  no
1  unknown    5   may     151.0         1   -1.0         0  unknown  no
2  unknown    5   may      76.0         1   -1.0         0  unknown  no
3  unknown    5   may      92.0         1   -1.0         0  unknown  no
4  unknown    5   may     198.0         1   -1.0         0  unknown  no
5  unknown    5   may     139.0         1   -1.0         0  unknown  no
6  unknown    5   may     217.0         1   -1.0         0  unknown  no
7  unknown    5   may     380.0         1   -1.0         0  unknown  no
8  unknown    5   may      50.0         1   -1.0         0  unknown  no
9  unknown    5   may      55.0         1   -1.0         0  unknown  no

Nota: con este codigo podemos visualizar las 10 primeras filas de los datos que contiene el csv.

In [22]:
from google.colab import drive
drive.mount('/content/drive')

ruta = "/content/drive/MyDrive/dataset_banco.csv"
df_banco = pd.read_csv(ruta)
df_banco

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143.0,yes,no,unknown,5,may,261.0,1,-1.0,0,unknown,no
1,44,technician,single,secondary,no,29.0,yes,no,unknown,5,may,151.0,1,-1.0,0,unknown,no
2,33,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5,may,76.0,1,-1.0,0,unknown,no
3,47,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5,may,92.0,1,-1.0,0,unknown,no
4,33,unknown,single,unknown,no,1.0,no,no,unknown,5,may,198.0,1,-1.0,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45210,51,technician,married,tertiary,no,825.0,no,no,cellular,17,nov,977.0,3,-1.0,0,unknown,yes
45211,71,retired,divorced,primary,no,1729.0,no,no,cellular,17,nov,456.0,2,-1.0,0,unknown,yes
45212,72,retired,married,secondary,no,5715.0,no,no,cellular,17,nov,1127.0,5,184.0,3,success,yes
45213,57,blue-collar,married,secondary,no,668.0,no,no,telephone,17,nov,508.0,4,-1.0,0,unknown,no
45214,37,entrepreneur,married,secondary,no,2971.0,no,no,cellular,17,nov,361.0,2,188.0,11,other,no

In [19]:
print(df_banco.tail(5))

       age           job   marital  education default  balance housing loan  \
45210   51    technician   married   tertiary      no    825.0      no   no
45211   71       retired  divorced    primary      no   1729.0      no   no
45212   72       retired   married  secondary      no   5715.0      no   no
45213   57   blue-collar   married  secondary      no    668.0      no   no
45214   37  entrepreneur   married  secondary      no   2971.0      no   no

         contact  day month  duration  campaign  pdays  previous poutcome    y
45210   cellular   17   nov     977.0         3   -1.0         0  unknown  yes
45211   cellular   17   nov     456.0         2   -1.0         0  unknown  yes
45212   cellular   17   nov    1127.0         5  184.0         3  success  yes
45213  telephone   17   nov     508.0         4   -1.0         0  unknown   no
45214   cellular   17   nov     361.0         2  188.0        11    other   no

Nota: Con este codigo podemos ver las 5 ultimas filas del CSV.

In [9]:
print(df_banco.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45215 entries, 0 to 45214
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45215 non-null  int64
 1   job        45213 non-null  object
 2   marital    45214 non-null  object
 3   education  45214 non-null  object
 4   default    45215 non-null  object
 5   balance    45213 non-null  float64
 6   housing    45215 non-null  object
 7   loan       45215 non-null  object
 8   contact    45215 non-null  object
 9   day        45215 non-null  int64
 10  month      45215 non-null  object
 11  duration   45214 non-null  float64
 12  campaign   45215 non-null  int64
 13  pdays      45214 non-null  float64
 14  previous   45215 non-null  int64
 15  poutcome   45215 non-null  object
 16  y          45215 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 5.9+ MB
None

In [10]:
print(df_banco.describe())

                age        balance           day      duration      campaign  \
count  45215.000000   45213.000000  45215.000000  45214.000000  45215.000000
mean      41.004711    1374.159866     15.805839    258.074357      2.763729
std       12.036647    3924.255525      8.322473    257.605175      3.097910
min       18.000000   -8019.000000      1.000000  -1389.000000      1.000000
25%       33.000000      72.000000      8.000000    103.000000      1.000000
50%       39.000000     448.000000     16.000000    180.000000      2.000000
75%       48.000000    1428.000000     21.000000    319.000000      3.000000
max      776.000000  527532.000000     31.000000   4918.000000     63.000000

              pdays      previous
count  45214.000000  45215.000000
mean      40.192485      0.580383
std      100.120622      2.303438
min       -1.000000      0.000000
25%       -1.000000      0.000000
50%       -1.000000      0.000000
75%       -1.000000      0.000000
max      871.000000    275.000000

In [11]:
print(df_banco.shape)

(45215, 17)

In [12]:
print(df_banco.columns)

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [13]:
#cambia los nombres de las columnas del dataframe
# Renombramos las columnas
df_banco_rename= df_banco.rename(columns={
                                  'age':        'edad',
                                  'job':        'trabajo',
                                  'marital':    'estado_civil',
                                  'education':  'educacion',
                                  'default':    'morosidad',
                                  'balance':    'saldo',
                                  'housing':    'vivienda',
                                  'loan':       'prestamo',
                                  'contact':    'contacto',
                                  'day':        'dia',
                                  'month':      'mes',
                                  'duration':   'duracion',
                                  'campaign':   'campana',
                                  'pdays':      'dias_previos',
                                  'previous':   'anterior',
                                  'poutcome':   'resultado',
                                  'y':          'respuesta'})

# Verificamos los cambios
print(df_banco_rename.head())

   edad       trabajo estado_civil  educacion morosidad   saldo vivienda  \
0    58    management      married   tertiary        no  2143.0      yes
1    44    technician       single  secondary        no    29.0      yes
2    33  entrepreneur      married  secondary        no     2.0      yes
3    47   blue-collar      married    unknown        no  1506.0      yes
4    33       unknown       single    unknown        no     1.0       no

  prestamo contacto  dia  mes  duracion  campana  dias_previos  anterior  \
0       no  unknown    5  may     261.0        1          -1.0         0
1       no  unknown    5  may     151.0        1          -1.0         0
2      yes  unknown    5  may      76.0        1          -1.0         0
3       no  unknown    5  may      92.0        1          -1.0         0
4       no  unknown    5  may     198.0        1          -1.0         0

  resultado respuesta
0   unknown        no
1   unknown        no
2   unknown        no
3   unknown        no
4   unknown        no

Nota: Con este codigo renombramos las columnas del data set.

In [14]:
categoricas = df_banco_rename.select_dtypes(include=['object']).columns.tolist()
numericas = df_banco_rename.select_dtypes(include=['int64', 'float64']).columns.tolist()
print("Columnas categóricas:", categoricas)
print("Columnas numéricas:", numericas)

Columnas categóricas: ['trabajo', 'estado_civil', 'educacion', 'morosidad', 'vivienda', 'prestamo', 'contacto', 'mes', 'resultado', 'respuesta']
Columnas numéricas: ['edad', 'saldo', 'dia', 'duracion', 'campana', 'dias_previos', 'anterior']

Nota: Con el siguiene codigo nos enseña cuales columnas son de tipo caracter y cuales son de tipo numerico en nuestros datos

In [15]:
pd.value_counts(df_banco_rename['trabajo'])

<ipython-input-15-23a1d6642437>:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(df_banco_rename['trabajo'])

trabajo
blue-collar       9731
management        9455
technician        7599
admin.            5168
services          4153
retired           2263
self-employed     1578
entrepreneur      1487
unemployed        1303
housemaid         1240
student            938
unknown            288
administrative       3
Management           2
MANAGEMENT           2
Self-employed        1
Services             1
Retired              1
Name: count, dtype: int64